:root {
    --black: #011212;
    --height: 100px;
    --width: 100px;
    --coral: #ff8800;
    --border: 50px;
}

body {
    background-color: var(--black);
}

.ball {
    height: var(--height);
    width: var(--width);
    background-color: var(--coral);
    border-radius: var(--border);
}